@mixin rewind {
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: 2px 2px 5px #000, -2px -2px 5px #ccc;
    background: #2a2a2a;
    color: white;
}

.player {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    &__volume {
        position: absolute;
        right: 0;
        transform: rotateZ(-90deg) translate(-75%, 350%);
        border: 1px solid #8a8a8a;
        -webkit-appearance: none;
        &::-webkit-progress-bar {
            background-color: transparent;
        }
        &::-webkit-progress-value {
            background-color: #abcdef;
        }
    }
    &__video {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__controls {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(calc(100% - 5px));
        transition: all 0.25s ease;
        background-color: rgba($color: #000000, $alpha: 0.5);
        &__progress {
            height: 5px;
            width: 100%;
            position: relative;
            background-color: #00000050;
            &__buffer {
                position: absolute;
                height: 100%;
                transition: height 0.25s ease;
                background-color: #cccccc50;
            }
            &__seeker {
                position: absolute;
                height: 100%;
                transition: height 0.25s ease;
                background-color: #abcdef;
            }
        }
        &__buttons {
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            color: white;
            &__play {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 45px;
                border: 3px solid white;
                border-radius: 5px;
                margin: 3px;
                background-color: transparent;
                grid-area: 1/2/1/3;
                justify-self: center;
                &__playing {
                    position: relative;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 25px solid white;
                }
                &__paused {
                    position: relative;
                    left: -7px;
                    width: 7px;
                    height: 30px;
                    background-color: white;
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: white;
                        right: -200%;
                    }
                }
            }
            &__forward {
                @include rewind();
                grid-area: 1/3/1/4;
            }
            &__rewind {
                @include rewind();
                grid-area: 2/3/2/4;
            }
            &__time {
                grid-area: 2/2/2/3;
                justify-self: center;
                font-size: 0.9rem;
                margin: 5px;
            }
        }
    }
    &:hover & {
        &__controls {
            transform: translateY(0);
            &__progress {
                height: 15px;
            }
        }
    }
}
